<td colspan="4">
    <button type="button" class="close cancel" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div style="padding-top: 20px"></div>
    <div class="form-horizontal">
        <div class="form-group">
            <%= label_tag "shipment_id", "Shipment", class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                  <table id="listing_shipments_table" class="display" width="100%">
                      <thead>
                          <tr>
                              <th>DO Number</th>
                              <th>OB Number</th>
                          </tr>
                      </thead>

                      <tbody>
                          <% @in_transit_shipments.each do |in_transit_shipment| %>                                                      
                            <tr id="shipment_<%= in_transit_shipment.id %>">
                                <td><%= in_transit_shipment.delivery_order_number %></td>
                                <td><%= in_transit_shipment.number %></td>
                            </tr>
                          <% end %>
                      </tbody>
                  </table>
              </div>
          </div>
          <div id="shipment_receipt_form_container"></div>
      </div>      
  </td>    

  <script>
    $(function () {
        var shipmentsDataTable = $('#listing_shipments_table').DataTable({
            order: [0, 'asc'],
            /*dom: 'T<"clear">lfrtip',*/
            columns: [
                //{data: null, defaultContent: '', orderable: false},
                {data: 'do_number'},
                {data: 'ob_number'}
            ],
            /*
             tableTools: {
             sRowSelect: 'os',
             sRowSelector: 'td:first-child',
             aButtons: ['select_all', 'select_none']
             },*/
            paging: false,
            info: false,
            scrollY: "250px",
            scrollCollapse: true
        });

        $('#listing_shipments_table tbody').on('dblclick', 'tr', function () {
            if (!$(this).hasClass('selected')) {
                shipmentsDataTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                var shipmentId = $(this).attr("id").split("_")[1];
                $.get("/shipment_receipts/generate_form", {
                    shipment_id: shipmentId
                });

            }
        });
    });
  </script>
