$("#coa_department_coa_id").html("")
$("#coa_department_department_id").html("")
$("#coa_department_coa_id").append("<option></option>");
$("#coa_department_department_id").append("<option></option>");
<% @coas.each do |coa| %>
  $("#coa_department_coa_id").append("<option value='<%= coa.id %>'><%= coa.code %></option>");
<% end %>
<% @departments.each do |dep| %>
  $("#coa_department_department_id").append("<option value='<%= dep.id %>'><%= dep.code %></option>");
<% end %>
$("#coa_department_coa_id").trigger("chosen:updated");
$("#coa_department_department_id").trigger("chosen:updated");
