<td colspan="5">
    <button type="button" class="close cancel" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div style="padding-top: 20px"></div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">From</label>
            <div class="col-sm-10" style="width: 0% !important">
                <% if current_user.has_non_spg_role? %>
                  <%= select_tag "warehouse_id", options_from_collection_for_select(@origin_warehouses, :id, :code), {include_blank: true, class: "form-control chosen-select", style: "width: 200px;"} %>
                  <% else %>
                    <table id="listing_order_bookings_table" class="display">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Number</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% OrderBooking.printed.select(:id, :number).order(:number).each do |order_booking| %>
                              <tr id="order_booking_<%= order_booking.id %>_<%= order_booking.number %>">
                                  <td></td>
                                  <td><%= order_booking.number %></td>
                              </tr>
                            <% end %>
                        </tbody>
                    </table>
                    <a class="btn btn-default active" id="generate_shipment_article_form" style="float: right;margin-top: 10px;">Generate form</a>
                  <% end %>
              </div>
          </div>
          <div id="products_container"></div>
          <div id="form_container"></div>
      </div>

  </td>
