<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @stock_movement.year %>
</p>

<%= link_to 'Edit', edit_stock_movement_path(@stock_movement) %> |
<%= link_to 'Back', stock_movements_path %>
