<tr class="editable info" data-id="106"><td colspan="5">
    <button type="button" class="close cancel" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <div style="padding-top: 20px"></div>

    <dl class="dl-horizontal">
        <dt>Transaction Number</dt>
        <dd>TSM0000000018</dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Transaction Time</dt>
        <dd>16/04/2018 07:25:28</dd>
    </dl>


    <dl class="dl-horizontal">
        <dt>Payment Method</dt>
        <dd>Cash</dd>
    </dl>



      <dl class="dl-horizontal">
          <dt>Cash</dt>
          <dd>Rp150.000,00</dd>
      </dl>

    <dl class="dl-horizontal">
        <dt>Total</dt>
        <dd>Rp150.000,00</dd>
    </dl>

      <dl class="dl-horizontal">
          <dt>Change</dt>
          <dd>Rp0,00</dd>
      </dl>



    <table class="table table-striped">
        <thead>
            <tr>
                <th>No.</th>
                <th>Barcode</th>
                <th>Product</th>
                <th>Color</th>
                <th>Size</th>
                <th>Price</th>
                <th>Event</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
              <tr>
                  <td style="vertical-align: middle">1</td>
                  <td style="vertical-align: middle">0000113</td>
                  <td>ZETAN - Adidas</td>
                  <td>RD - Red</td>
                  <td>3</td>
                  <td>Rp150.000,00</td>
                  <td>
                  </td>
                  <td>
                      Rp150.000,00
                  </td>
              </tr>
        </tbody>
    </table>
</td>
</tr>