<table id="listing_purchased_products_table" class="display dataTable" style="width: 100%;" role="grid">
	<thead>
		<tr role="row"><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 120px;">Barcode</th>
			<th class="sorting_disabled" rowspan="1" colspan="1" style="width: 179px;">Product</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 95px;">Color</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 72px;">Size</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 143px;">Price</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 89px;">Event</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 173px;">Subtotal</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 125px;"></th></tr>
		</thead>
		<tfoot>
			<tr><th colspan="6" style="text-align:right" rowspan="1">Total:</th><th id="total-sale" rowspan="1" colspan="1">Rp480.000,00</th><th rowspan="1" colspan="1"></th></tr>
		</tfoot>
		<tbody>

			<tr id="product-row-1524830051761" role="row" class="odd">
				<td>0000001</td>
				<td>DSFSDF - Adidas</td>
				<td>BL - Blue</td>
				<td>L</td>
				<td class="ori_price">Rp250.000,00</td>
				<td class="special_price">Special price: Rp220.000,00</td>
				<td class="p_price">Rp120.000,00</td>
				<td><button type="button" class="btn btn-danger" id="btn-delete-sale-product-1524830051761">Delete</button></td>
			</tr>
			<tr role="row" class="even" id="product-row-1524830055013">
				<td>0000002</td>
				<td>DSFSDF - Adidas</td>
				<td>BL - Blue</td><td>M</td>
				<td class="ori_price">Rp720.000,00</td>
				<td class="special_price">Special price: Rp680.000,00</td>
				<td class="p_price">Rp120.000,00</td>
				<td><button type="button" class="btn btn-danger" id="btn-delete-sale-product-1524830055013">Delete</button></td>
			</tr>
			<tr role="row" class="odd" id="product-row-1524830057975">
				<td>0000003</td>
				<td>DSFSDF - Adidas</td>
				<td>BL - Blue</td>
				<td>S</td>
				<td class="ori_price">Rp870.000,00</td>
				<td class="special_price">Special price: Rp670.000,00</td>
				<td class="p_price">Rp120.000,00</td>
				<td><button type="button" class="btn btn-danger" id="btn-delete-sale-product-1524830057975">Delete</button></td>
			</tr>
			<tr role="row" class="even" id="product-row-1524830062447">
				<td>0000004</td>
				<td>DSFSDF - Adidas</td>
				<td>BL - Blue</td>
				<td>XL</td>
				<td class="ori_price">Rp120.000,00</td>
				<td class="special_price">Special price: Rp80.000,00</td>
				<td class="p_price">Rp120.000,00</td>
				<td><button type="button" class="btn btn-danger" id="btn-delete-sale-product-1524830062447">Delete</button></td>
			</tr>
		</tbody>
	</table>