<tr id="product-row-1524830051761" role="row" class="odd">
	<!--<td></td>-->
	<td><input type="hidden" value="265" name="sale[sale_products_attributes][1524830051761][product_barcode_id]" id="sale_sale_products_attributes_1524830051761_product_barcode_id">
		<input type="hidden" name="sale[sale_products_attributes][1524830051761][event_id]" id="sale_sale_products_attributes_1524830051761_event_id">
		<input type="hidden" name="sale[sale_products_attributes][1524830051761][free_product_id]" id="sale_sale_products_attributes_1524830051761_free_product_id">
  <!--
    <div class="form-group">
    </div>-->

  0000001</td>
  <td>DSFSDF - Adidas</td>
  <td>BL - Blue</td>
  <td>L</td>
  <td>Rp120.000,00</td>
  <td></td>
  <td class="p_price">Rp120.000,00</td>
  <td><button type="button" class="btn btn-danger" id="btn-delete-sale-product-1524830051761">Delete</button></td>
</tr>