<div class="page-header"><h1>Receiving Products</h1></div>
<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"<% if params[:action].eql?("receive_products_from_purchase_order") || params[:action].eql?("new") %> class="active"<% end %>><a href="#purchase_order" aria-controls="purchase_order" role="tab" data-toggle="tab">Purchase Order</a></li>
        <li role="presentation"<% if !params[:action].eql?("receive_products_from_purchase_order") && !params[:action].eql?("new") %> class="active"<% end %>><a href="#direct_purchase" aria-controls="direct_purchase" role="tab" data-toggle="tab">Direct Purchase</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade<% if params[:action].eql?("receive_products_from_purchase_order") || params[:action].eql?("new") %> in active<% end %>" id="purchase_order" style="padding-top: 20px">
            <%= smart_listing_controls_for(:receiving_purchase_orders, {class: "form-inline text-right"}) do %>

                <div class="form-group filter input-append">
                    <%= text_field_tag :filter, '', class: "search form-control", 
                        placeholder: "Search...", autocomplete: :off %>
                  </div>

                  <button class="btn btn-primary disabled" type="submit">
                      <span class="glyphicon glyphicon-search"></span>
                  </button>
                <% end %>
                <%= smart_listing_render(:receiving_purchase_orders) %>

            </div>
            <div role="tabpanel" class="tab-pane fade<% if !params[:action].eql?("receive_products_from_purchase_order") && !params[:action].eql?("new") %> in active<% end %>" id="direct_purchase" style="padding-top: 20px">
                <%= render "direct_purchase_form" %>
            </div>
        </div>

    </div>
