<li>
    <a id="notification_<%= notification.id %>" class="notification-rows">
        <!--<span class="image"><%#= image_tag(image_url("img.jpg"), alt: "Profile Image") %></span>-->
        <span>
            <span><%= notification.event %></span>
            <span class="time"><%= notification.created_at.strftime("%d %b. %Y") %></span>
        </span>
        <span class="message">
            <%= notification.body %>
        </span>
    </a>
</li>
