<table cellspacing="0" border="1" style="border-color: #DDDDDD;border-style: solid;border-collapse: collapse">
    <tr>
        <td style="padding-top: 10px;padding-bottom: 20px;padding-right: 20px;padding-left: 20px">
            <table width="100%">
                <tr>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2"><strong>TES</strong></td>
                </tr>
                <tr>
                    <td align="center" colspan="2"><strong>AP INVOICE</strong></td>
                </tr>
                <tr>
                    <td align="center" colspan="2">TES</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>Vendor</td>
                                <td>:</td>
                                <td>Tes</td>
                            </tr>
                            <tr>
                                <td>Payment Date</td>
                                <td>:</td>
                                <td>Tes</td>
                            </tr>
                            <tr>
                                <td>Payment Method</td>
                                <td>:</td>
                                <td>Tes</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <table cellspacing="0" border="1" cellpadding="5" style="border-color: white;border-style: solid;border-collapse: collapse">
                            <tbody>
                                <tr bgcolor="#42B549"><th colspan="9" style="text-align: center;color: white">Items Received</th></tr>
                                <tr style="text-align: center;color: white" bgcolor="#00FF00">
                                    <td><strong>No</strong></td>
                                    <td colspan="2"><strong>PO/DO Number</strong></td>
                                    <td><strong>Qty</strong></td>
                                    <td><strong>Gross Amount</strong></td>
                                    <td><strong>1st Disc</strong></td>
                                    <td><strong>2nd Disc</strong></td>
                                    <td><strong>VAT (10%)</strong></td>
                                    <td><strong>Net Amount</strong></td>
                                </tr>
                                <tr bgcolor="#42B549" style="color: white">
                                    <td colspan="8" align="right"><strong>Total Amount Received</strong></td>
                                    <td align="right"><strong>Tes</strong></td>
                                </tr>
                            </tbody>
                            <tfoot bgcolor="#42B549" style="color: white">
                                <tr>
                                    <td colspan="8" align="right"><strong>Previous Paid</strong></td>
                                    <td align="right"><strong>Tes</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="8" align="right"><strong>Amount Paid</strong></td>
                                    <td align="right"><strong>Tes</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="8" align="right"><strong>Remaining Debt</strong></td>
                                    <td align="right"><strong>Tes</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </td>
                </tr>                    
                <tr>
                    <td>Created by</td>
                    <td style="text-align: right">Approved by</td>
                </tr>
                <tr>
                    <td style="padding-top: 50px">Tes</td>
                    <td style="text-align: right"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>