<div class="form-group">
    <%= label_tag "mobile_phone", "Mobile phone", class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
          <span class="form-control"><%= @area_manager.mobile_phone %></span>
      </div>
  </div>
