<td colspan="5">
    <button type="button" class="close cancel" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div style="padding-top: 20px"></div>

    <dl class="dl-horizontal">
        <dt>Code</dt>
        <dd><%= object.code %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Description</dt>
        <dd><%= object.description %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Category</dt>
        <dd><%= object.cat_name %></dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Classsification</dt>
        <dd><%= object.classification_name %></dd>
    </dl>

</td>
