<div class="page-header">
    <h1>Listing Purchase Returns</h1>
</div>

<table class="table table-condensed table-responsive table-striped">
    <thead>
        <tr>
            <th>Number</th>
            <th>Vendor</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% @purchase_returns.each do |purchase_return| %>
          <tr>
              <td><%= purchase_return.number %></td>
              <td><%= purchase_return.purchase_order.vendor.name %></td>
              <td><%= link_to 'Show', purchase_return, class: "btn btn-info btn-xs active" %></td>
          </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'New Purchase return', new_purchase_return_path, class: "btn btn-default active" %>
