<table border="1" class="table table-condensed table-responsive table-bordered" id="listing-product-table">
    <thead>      
        <tr style="text-align: center">
            <td style="vertical-align: middle"><strong>Product code</strong></td>
            <td style="vertical-align: middle"><strong>Product desc.</strong></td>
            <td style="vertical-align: middle"><strong>Brand</strong></td>
            <td style="vertical-align: middle"><strong>Color X Size</strong></td>
        </tr>   
    </thead>
    <tbody>
        <%= render "form_detail_print_product" %>
    </tbody>
</table>  