<table class="table table-striped">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Region</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <% @warehouses.each do |warehouse| %>
          <tr>
              <td><%= warehouse.code %></td>
              <td><%= warehouse.name %></td>
              <td><%= warehouse.region_code %></td>
              <td><%= warehouse.warehouse_type %></td>           
          </tr>
        <% end %>
    </tbody>
</table>