<td colspan="4">
    <div style="padding-top: 20px"></div>
    <% if !params[:action].eql?("edit") && !params[:action].eql?("update") %>
      <div class="form-horizontal">
          <div class="form-group">
              <%= label_tag "product_id", "Product code", class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                    <%= text_field_tag "product_code", (@product.present? ? @product.code : ""), {class: "form-control upcase"} %>
                  </div>
              </div>
              <div id="cost-form-container">
                  <% if params[:product].present? %>
                    <%= render "cost_form" %>
                  <% else %>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-primary disabled" id="btn-save-cost-form">Save</button>
                            <button class="btn btn-link cancel">Cancel</button>
                        </div>
                    </div>                        
                  <% end %>
              </div>
          </div>
        <% else %>
          <%= render "cost_form" %>
        <% end %>
    </td>
    <% if !params[:action].eql?("edit") && !params[:action].eql?("update") %>
      <script>
        $(function () {
            /*          var costPriceProductDataTable = $('#listing_products_table').DataTable({
             order: [0, 'asc'],
             columns: [
             {data: 'code'},
             {data: 'brand'}
             ],
             paging: false,
             info: false,
             scrollY: "250px",
             scrollCollapse: true
             });
             
             $('#listing_products_table tbody').on('dblclick', 'tr', function () {
             if (!$(this).hasClass('selected')) {
             costPriceProductDataTable.$('tr.selected').removeClass('selected');
             $(this).addClass('selected');
             var productId = $(this).attr("id").split("_")[1];
             $.get("/cost_prices/generate_form", {
             product_id: productId
             });
             
             }
             });
             */
      <%# if @product.present? %>
            //$("#product_<%#= @product.id %>").addClass("selected");
      <%# end %>
            $('#product_code').on("input", function () {
                $(this).val($(this).val().replace(/ /g, ""));
            });

            $('#product_code').keypress(function (e) {
                var key = e.which;
                if ($(this).val().trim() != "" && key == 13)  // the enter key code
                {
                    $(this).blur();
                    $.get("/cost_prices/generate_form", {
                        product_code: $(this).val().trim()
                    });
                    return false;
                }
            });
            $("#product_code").autocomplete({
                source: "/cost_prices/autocomplete_product",
                minLength: 2
            });
        });
      </script>
    <% end %>