#listing_product_table_receiving_filter label, #listing_purchase_order_table_filter label {
    font-weight: normal;
}

#listing_product_table_receiving tr td:first-child {
    text-align: center;
}

#listing_product_table_receiving tr td:first-child:before {
    content: "\f096"; /* fa-square-o */
    font-family: FontAwesome;
}

#listing_product_table_receiving tr.selected td:first-child:before {
    content: "\f046"; /* fa-check-square-o */
}

#rec_listing_po_table_filter label {
    font-weight: normal;
}

#rec_listing_po_table tr td:first-child {
    text-align: center;
}

#listing_product_table_receiving_wrapper .DTTT_container {
    position: absolute;
}
