<td><%= object.payment_date.strftime("%d/%m/%Y") %></td>
<td id="td-app-amount-<%= object.id %>"><%= number_to_currency(object.amount,
      :separator => ",",
      :delimiter => ".",
      :unit => "Rp",
      :precision => 2) %></td>
<td class="actions" style="text-align: right">
    <%= link_to "<i class=\"glyphicon glyphicon-share-alt\"></i>".html_safe, account_payable_payment_path(object), data: {remote: true}, title: "Show" %>
</td>
