<div class="page-header">
    <h1>Account Payables</h1>
</div>

<div id="search-form-container" class="form-inline text-right">
    <div class="form-group">
        <input type="text" class="form-control" readonly="true" id="filter-payment-date" placeholder="Payment date">
    </div>
    <div class="form-group">
        <input type="text" id="filter-string" class="form-control" placeholder="Number/Vendor">
    </div>
    <button id="search-ap-btn" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
</div>

<div class="hidden">
    <%= smart_listing_controls_for(:account_payables, {class: "form-inline text-right"}) do %>
        <%= text_field_tag :filter_payment_date, '', class: "search form-control", autocomplete: :off %>
          <%= text_field_tag :filter_string, '', class: "search form-control", autocomplete: :off %>
          <% end %>
      </div>
      <%= smart_listing_render(:account_payables) %>

      <script>
        $(function () {
            $("#search-ap-btn").click(function () {
                $("#filter_payment_date").val($("#filter-payment-date").val());
                $("#filter_string").val($("#filter-string").val());
                $(".smart-listing-controls").submit();
            });
        });
      </script>