<td><%= object.transaction_number %></td>
<td><%= object.transaction_time.strftime("%d/%m/%Y %H:%M") %></td>
<td><%= object.payment_method %></td>
<td><%= number_to_currency(object.total, :separator => ",", :delimiter => ".", :unit => "Rp", :precision => 2) %></td>
