<div class="form-group">
    <label class="col-sm-3 control-label">Color</label>
    <div class="col-sm-9">
        <%= select_tag "sale_gift_event_product_color", options_from_collection_for_select(@product_colors, :id, "code_and_name"), {include_blank: true, class: "form-control", style: "width: 100%;"} %>
      </div>
  </div>